.f-flex {
    display: flex;
    gap: 1em;
}

.f-row {
    flex-flow: row;
}

.f-col {
    flex-flow: column;
}

.f-img-cell {
    flex: 1;
    min-height: 0;
    min-width: 0;
    object-fit: cover;
}

.pb-1 {
    padding-bottom: 1em;
}